# Hygraph API Endpoints
VITE_HYGRAPH_ENDPOINT=https://ap-south-1.cdn.hygraph.com/content/cml2r4vnf00p307v26whozpf5/master
HYGRAPH_MANAGEMENT_ENDPOINT=https://management-ap-south-1.hygraph.com/graphql/cml2r4vnf00p307v26whozpf5/master

# Your Permanent Auth Token (PAT)
HYGRAPH_PAT=
